<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.lucky.alarmdeezer">

    <!-- Obviously needed to download tracks and send request to the API -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Needed to know if network is available before trying to download a track -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Enable the device to keep the screen on when music is playing -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Enable using the Visualizer -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DeezerDemoTheme">


        <activity android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Alarm receiver -->
        <receiver android:name=".AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <!-- Clock activity -->
        <activity
            android:name=".ClockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- Setting activity -->
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- Music activity -->
        <activity
            android:name=".MusicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- Visualizer activity -->
        <activity
            android:name=".UtilityActivities.VisualizerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- UserPlaylists activity -->
        <activity
            android:name=".UserActivities.UserPlaylistsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- UserAlbums activity -->
        <activity
            android:name=".UserActivities.UserAlbumsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- UserArtists activity -->
        <activity
            android:name=".UserActivities.UserArtistsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- UserRadios activity -->
        <activity
            android:name=".UserActivities.UserRadiosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- UserTopTracks activity -->
        <activity
            android:name=".UserActivities.UserTopTracksActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- UserFlow activity -->
        <activity
            android:name=".UserActivities.UserFlowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/>

        <!-- UserCustomTrackList activity -->
        <activity
            android:name=".UserActivities.UserCustomTrackListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DeezerDemoThemeNoBar"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>